
div{
    margin-bottom: 10px;
}
.container1{
    width:200px ;
    margin: auto;
    margin-top: 20px;
    padding: 20px 50px;
    border-radius: 10px;
    background-color: #e1e8ed;
}
@media screen and (min-width: 360px) {
    .container1{
        width:270px ;
    }
}
@media screen and (min-width: 480px) {
    .container1{
        width: 320px;
    }
}
@media screen and (min-width: 720px) {
    .container1{
        width: 370px;
    }
}
@media screen and (min-width: 1024px) {
    .container1{
        width: 450px;
    }
}
button{
    background-color: #33424f;
    color: #ffffff;
}
button:hover{
    background-color: #33424f;
    color: #ffffff;
}
button:active{
    background-color: #33424f;
    color: #ffffff;
}

button:disabled{
    background-color: #33424f;
    color: #ffffff;
}