.row{
    display: grid;
    margin-top: 20px;
    grid-template-columns: 1fr;
    gap: 20px;
}

.card:hover{
  box-shadow: 0 10px 5px #33424f;
}

.img{
  width: 180px;
  aspect-ratio: 1;
}
@media screen and (min-width: 360px) {
    .row {
      grid-template-columns:1fr;
    }
    .img{
      width: 200px;
      aspect-ratio: 1;
    }
}
@media screen and (min-width: 490px) {
    .row {
      grid-template-columns: 1fr 1fr;
    }
    .img{
      width: 210px;
      aspect-ratio: 1;
    }
}
@media screen and (min-width: 780px) {
    .row {
      grid-template-columns: 1fr 1fr 1fr;
    }
    .img{
      width: 210px;
      aspect-ratio: 1;
    }
}
@media screen and (min-width: 1200px) {
    .row {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .img{
      width: 240px;
      aspect-ratio: 1;
    }
}

.carousel-img{
    width: 100%;
    aspect-ratio: 2/1;
}

.carouserlCss{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.mainDiv{
    background-color: #e1e8ed;
}