<nav class="navbar navbar-expand-md p-2">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="home"><i class="fa-solid fa-truck-fast fa-xl"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          @if(!loginStatus){
            <li class="nav-item">
              <a class="nav-link" routerLink="home" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="login" routerLinkActive="active">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="register" routerLinkActive="active">Register</a>
            </li>
          }
          @else {
            <li class="nav-item">
              <a class="nav-link active" routerLink="home" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="products" routerLinkActive="active">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="requests" routerLinkActive="active">Requests</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="login" routerLinkActive="active" (click)="logout()">Logout</a>
            </li>
          }
        </ul>
      </div>
    </div>
  </nav>